@charset "utf-8";

/*------------------------------------*\
	#Layout
\*------------------------------------*/

html {
	font-size: 100%;
}
body {
	color: #fff;
	background: #262524;
}
.site-header {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: solid 1px #484542;
	background-color: #161514;
}
.site-header .form-group {
	margin-bottom: 0;
}
.site-header input[type="text"],
.site-header button[type="submit"] {
	float: left;
}
.site-header input[type="text"] {
	width: 100%;
	padding-right: 20%;
	background-color: #fff;
}
.site-header button[type="submit"] {
	margin-left: -20%;
	width: 20%;
	font-weight: bold;
	text-transform: uppercase;
}
.site-container {
	padding-top: 50px;
	padding-bottom: 50px;
}
.giphy-tags-col {
	margin-bottom: 50px;
}
.giphy-col {
	margin-bottom: 30px;
}
.giphy-item {
	padding: 10px;
	border: solid 1px #484542;
	background-color: #161514;
}
.giphy-item .giphy-img {
	border-bottom: solid 3px #484542;
	margin-bottom: 10px;
}
.giphy-item .img-avatar {
	margin-right: 10px;
}
.giphy-item .giphy-user {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}
.giphy-item .giphy-link {
	color: #5cb85c;
	display: inline-block;
	font-size: 20px;
}
.giphy-item .giphy-link:hover,
.giphy-item .giphy-link:focus {
	color: #4cae4c;
}

/*------------------------------------*\
	#Styles
\*------------------------------------*/

img {
	height: auto;
	max-width: 100%;
}

/*------------------------------------*\
	#Misc Classes
\*------------------------------------*/

.media-fluid {
	width: 100%;
	height: auto;
	display: block;
}

/*------------------------------------*\
	#Buttons
\*------------------------------------*/

.btn-primary + .btn-primary {
	margin-left: 5px;
}
.btn-primary {
	background-color: #161514;
	border-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #449d44;
	border-color: transparent;
}
.btn-primary:active
.btn-primary:active:hover,
.btn-primary:active:focus {
	background-color: #161514;
	border-color: transparent;
}